<currency-selector class="{{class}} relative mr-2">
  <select id="marketSelector" class="border-none">
    <option value="au" selected>Australia / AUD</option>
    <option value="ca" data-url="https://ca.timeresistance.com">Canada / CAD</option>
    <option value="us" data-url="https://timeresistance.com">United States / USD</option>
    <option value="eu" data-url="https://eu.timeresistance.com">European Union / EUR</option>
    <option value="de" data-url="https://timeresistance.de">Germany / EUR</option>
    <option value="global" data-url="https://global.timeresistance.com">Global / USD</option>
    <option value="sg" data-url="https://timeresistance.sg">Singapore / SGD</option>
    <option value="uk" data-url="https://timeresistance.co.uk">United Kingdom / GBP</option>
  </select>
  {% render 'icon' with 'chevron-small', class: 'absolute right-0 top-1/2 -translate-y-1/2 w-[13px]' %}
</currency-selector>
