<currency-selector class="{{class}} relative mr-2">
  <select id="marketSelector" class="border-none">
    <option value="au" selected>Australia / AUD</option>
    <option value="us" data-url="https://us-timeresistance.myshopify.com">United States / USD</option>
    <option value="global" data-url="https://global.timeresistance.com">Global / USD</option>
    <option value="eu" data-url="https://eu.timeresistance.com">European Union / EUR</option>
    <option value="uk" data-url="https://uk-timeresistance.myshopify.com">United Kingdom / GBP</option>
  </select>
  {% render 'icon' with 'chevron-small', class: 'absolute right-0 top-1/2 -translate-y-1/2 w-[13px]' %}
</currency-selector>
