{% doc %}
  Renders a flash alert container for displaying temporary messages

  @example Basic flash alert
  {% render 'flash-alert' %}
{% enddoc %}

<div class="flash-alert" data-flash-alert>
  <div class="flash-alert__container ff-body fs-body-100"></div>
</div>
