{% doc %}
  Renders a loading spinner/progress bar animation

  @example Basic loader
  {% render 'loader' %}
{% enddoc %}

<div class="loader">
  <div class="loader__wrap">
    <div class="loader__bar"></div>
  </div>
</div>
