{% doc %}
  Renders product badges based on custom metafield

  @param {object} prod - Product object to display badges for (required)

  @example
  Basic usage
  {% render 'product-badges', prod: product %}
  @example
  In product card
  {% render 'product-badges', prod: collection.products.first %}
{% enddoc %}

{%- liquid
  assign badge = prod.metafields.custom.product_badge_text
-%}
<div class="flex flex-wrap gap-1">
  {%- if badge != blank -%}
    <div class="w-fit text-xs leading-none bg-black text-white px-2 py-1 rounded-full">
      {{ badge }}
    </div>
  {%- endif -%}
</div>
