{% if text != blank and text != '' %}
  <div class="flex gap-2 items-center pb-2 text-base">
    {%- if custom_icon_image != blank -%}
      {%-
        render 'legacy-image' with
        wrapper_class: "w-9",
        image: custom_icon_image,
        sizes: "32px",
      -%}
    {%- else -%}
      {% if icon and icon != 'none' %}
        {% render 'icon-editorial' with class: "", icon: icon %}
      {% endif %}
    {%- endif -%}
    <div class=" rte ">
      {{ text }}
    </div>
  </div>
{% endif %}
