<!-- File: sections/favorite-products.liquid -->
{%- if section.settings.enable_section_style -%}
  {%- render 'section-style', section: section -%}
{%- endif -%}
<favorite-products
  style="min-height: 100vh"
  class="block h-full relative"
  data-layout="grid"
  data-hide-on-removal="{{ section.settings.hide_on_removal }}"
>
  <h1 class="text-2xl block w-full mb-6 pb-2 border-b border-gray-200">Favorite Products</h1>

  <div
    data-product-grid
    class="grid grid-cols-2 md:grid-cols-4 gap-6"
  ></div>
  <div data-spinner class="flex justify-center my-8">
    <div
      class="loading-spinner w-12 h-12 rounded-full border-4 border-stone-300 border-t-stone-500 animate-spin"
      role="status"
      aria-label="Loading"
    ></div>
  </div>
  <div
    data-empty-state
    class="hidden mt-14"
  >
    <h3 class="text-center fs-heading-3-base ff-heading">No favorites yet</h3>
    <p class="text-center">Add products to your favorites to see them here.</p>
  </div>
</favorite-products>

{% schema %}
{
  "name": "Favorite Products",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "hide_on_removal",
      "label": "Hide on removal",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Favorite Products"
    }
  ]
}
{% endschema %}
