<!-- File: sections/favorite-products.liquid -->
{%- if section.settings.enable_section_style -%}
  {%- render 'section-style', section: section -%}
{%- endif -%}
<favorite-products
  style="min-height: 100vh"
  class="block h-full relative"
  data-layout="grid"
>
  <h1 class="text-2xl block w-full mb-6 pb-2 border-b border-gray-200">Favorite Products</h1>

  <div
    data-product-grid
    class="grid grid-cols-2 md:grid-cols-4 gap-6"
  ></div>
  <div data-spinner class="flex justify-center my-8">
    <div
      class="loading-spinner w-12 h-12 rounded-full border-4 border-stone-300 border-t-stone-500 animate-spin"
      role="status"
      aria-label="Loading"
    ></div>
  </div>
  <div
    data-empty-state
    class="hidden"
  >
    <h3>Empty</h3>
  </div>
</favorite-products>

{% schema %}
{
  "name": "Favorite Products",
  "class": "section",
  "tag": "section",
  "settings": [],
  "presets": [
    {
      "name": "Favorite Products"
    }
  ]
}
{% endschema %}
