{% comment %}
  Shopify Wishlist
  Usage:
    - Create a new page in the Shopify admin
      - Admin > Online store > Pages > Add page
    - Set the new page's template to: 'page.wishlist'
    - Do NOT remove the `grid-wishlist` attribute
  
  Notes:
  - The grid will be populated with product cards using Javascript
  - Any content inside of the `[grid-wishlist]` element will be completely replaced by the product cards
  
  Tip:
  - Place a loading element inside the `[grid-wishlist]` element and it will automatically be removed once the product cards have loaded
  - Add any liquid code before/after the grid element
{% endcomment %}
<section 
  data-section-type="collection" 
  data-layout-type="grid" 
  data-collection-columns-desktop="4" 
  data-collection-columns-mobile="2"
  
  class="section
    section--includes-product-items
    section--full-width
    collection
    collection--pagination-infinite
    collection--has-filter-bar
    
      animation
      animation--collection
    "
  style="--collection-columns-desktop: 4; --collection-columns-mobile: 2;"
  >
  <div class="wishlist__header flex container rich-text section" style="--content-alignment: center;
    --heading-alignment: center;">
    <div class="rich-text__inner">
    <h1 class="ff-heading fs-heading-3-base">{{ page.title }}</h1>
    <button type="button" class="btn" data-clear-wishlist>
      Clear Wishlist
    </button>
    </div>
  </div>
  
  <div class="wishlist__grid flex container collection__main-area">
    <div class="collection__products collection__infinite-container" grid-wishlist>
      <p class="wishlist__loader full-width text-center">Loading Wishlist...</p>
    </div>
  </div>
</section>

<script>
  document.querySelector('[data-clear-wishlist]').addEventListener('click', function() {
    if (confirm('Are you sure you want to clear your wishlist?')) {
      resetWishlist();
    }
  });
</script>

{% schema %}
  {
    "templates": ["page"]
  }
{% endschema %}