/* Image Animation Styles */

.image-hero-split-item .image-hero-split-item__image img {
    transition: transform 2s ease;
}

.image-hero-split-item:hover .image-hero-split-item__image img {
    transform: scale(1.05);
}

.grid-item__inner .grid-item__image img {
    transition: transform 2s ease;
}

.grid-item__inner:hover .grid-item__image img {
    transform: scale(1.05);
}

@media (min-width: 720px) {
    body.header-transparent
        #main
        > .shopify-section:first-child
        .image-hero-split
        .image-hero-split-item__text-container {
        padding-bottom: 150px;
    }
}

.see-more {
    cursor: pointer;
    text-decoration: underline;
    font-weight: 100;
}

.button-wishlist {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 50;
}
